version: "3.9"

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: reactexam_server
    ports:
      - "3030:3030"
    environment:
      NODE_ENV: production
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: reactexam_client
    ports:
      - "80:80"   
    depends_on:
      - server
    restart: unless-stopped
