name: Trigger auto deployment for kaloyandimitrovreactproject

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/kaloyandimitrovreactproject-AutoDeployTrigger-81040859-1c0d-4348-aa36-ed0aa174f89f.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.KALOYANDIMITROVREACTPROJECT_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.KALOYANDIMITROVREACTPROJECT_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.KALOYANDIMITROVREACTPROJECT_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.KALOYANDIMITROVREACTPROJECT_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.KALOYANDIMITROVREACTPROJECT_REGISTRY_PASSWORD }}
          containerAppName: kaloyandimitrovreactproject
          resourceGroup: ReactAppRGname
          imageToBuild: luckykaloyan/kaloyandimitrovreactproject:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


